.box{
    box-shadow: 0 0 20px 0 black;
    background: white;
    border-radius: 8px;
}
.box-shadow{
    box-shadow: 0 0 20px 0 black;
}
.text-shadow-black{
    text-shadow: 1px 1px 1px black;
}
.text-shadow-white{
    text-shadow: 1px 1px 1px white;
}
.border-radius{
    border-radius: 8px;
}

input:not(.font-ar){
    font-family: font-en;
}
.font-inherit,.font-inherit *{
    font-size: inherit;
}
